:root {
    --p-margin: 110px;
}

body {
    background-image: url('https://uselessetymology.files.wordpress.com/2019/10/palindrome-useless-etymology-12.png?w=1088');
}
#main {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    /* center div horz/vert */
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;

    min-width: 400px;
    max-width: 33%;

    max-height: 400px;

    font-family: 'PT Serif';

    background-color: white;
}

h1 {
    text-align: center;

    margin: 10px 0;
}

#input-section {
    display: inherit;
    justify-content: center;
}
#text-input {
    margin: 10px 5px 10px 10px;
    width: 170px;
}
input[type="text"] {
    font-family: 'Oxygen Mono';
    font-size: 100%;
}
button {
    font-family: 'Oxygen Mono';
}
#check-btn {
    margin: 10px 5px;
}
#clear {
    margin: 10px 10px 10px 5px;
}

#result {
    display: inherit;
    flex-direction: column;
    align-items: center;

    overflow-y: auto;
    margin-bottom: var(--p-margin);
}
#result span {
    text-align: center;
    width: 95%;
}
.true {
    color: blue;
    border: 1px solid blue;
}
.false {
    color: red;
    border: 1px solid red;
}

p {
    position: absolute;
    bottom: 0;
    margin: 0;

    text-align: justify;
}