:root {
    --theme-light: #dba380;
    --theme-dark: #ce7f46;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 60vw;

    margin: 0 auto;
}

h1 {
    text-align: center;
    color: var(--theme-dark);

    font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
}

#input-section, #output {
    display: flex;
    align-items: stretch;

    height: 50px;
    width: 100%;
}

#number {
    padding: .5rem 1rem;
    margin-right: 10px;

    flex: 1 1 auto;
    min-width: 0;
    width: 1%;

    border: 1px solid #a2a9af;

    transition: outline 75ms ease-in-out,
    border 75ms ease-in-out,
    border-radius 100ms ease-in-out,
    background-color 200ms ease-in-out;
}
#number:focus {
    outline: var(--theme-light) solid 3px;

    border: none;
    border-radius: 15px;
    background-color: #dba38033;
}
#number[type='number'] {
    font-family: 'Bree Serif', 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: #ad6028;
}

#convert-btn {
    font-family: 'Zilla Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, system-ui;

    background-color: var(--theme-light);
    color: #fff;
    
    border: 1px solid transparent;
    border-color: var(--theme-dark);

    width: 100%;
    max-width: 100px;

    font-size: 1.15rem;
    
    transition: transform 50ms ease-in-out,
    background-color 50ms ease-in-out,
    box-shadow 50ms ease-in-out;
}
#convert-btn:hover {
    transform: translateY(-2px);
    background-color: var(--theme-dark);
    border-color: #b36731;

    box-shadow: 0 2px 5px #999;
}
#convert-btn:active {
    transform: translateY(0px);
    background-color: var(--theme-dark);
    border-color: #b36731;

    box-shadow: 0 0 0 #999;
}

#number, #convert-btn {
    border-radius: .25rem;
}

#output {
    justify-content: center;
    align-items: flex-end;
    
    font-family: 'Zilla Slab', 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 80%;

    text-align: center;
}

#description {
    text-align: left;

    font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 1.1rem;
}
#description::first-letter {
    font-size: 1.99rem;
    color: var(--theme-dark);
    /* makes it floating, so it's not shifting other texts */
    float: left;
    margin-right: .5rem;
}

@media screen and (max-width: 300px) {
    #output {
        font-size: 20px;
    }
}